.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 40vmin;
}

.App-header {
  background-color: #5f6d87;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #72f6a3;
  font-family: 'Miniver', cursive;
  font-size: 35px;
}

.App-link:hover {
  color: #c98de6;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.App-header-two {
  font-family: 'Knewave', cursive;
  font-size: 85px;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.App-header-two:pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerOne {
  font-family: 'Gloria Hallelujah', cursive;
  color: #31aaba;
  font-size: 40px;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  padding: 12px;
}

.headerTwo {
  font-family: 'Shadows Into Light', cursive;
  font-size: 65px;
  color: #0d8568;
  text-shadow: 2px 2px #ff6b00;
  padding-top: 12px;
  text-decoration: overline;
  /* text-decoration-line: underline; */
  /* text-decoration-style: double; */
}

.headerThree {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  font-weight: bold;
  color: #0d8568;
  padding: 15px;
  text-decoration: underline;
}

.headerThree:hover{
  animationIn: headShake;
  animationOut: zoomOutDown;
  isVisible: true
}

.headerFour {
  font-family: 'Gloria Hallelujah', cursive;
  color: #ff8e53;
  font-size: 40px;
  background: linear-gradient(45deg, #6bfeae 30%, #53dbff 90%);
  padding: 12px;
  padding-bottom: 12px;
  margin-bottom: 1px;
}

.toggle {
  fontVariant: small-caps;
  font-size: 18px;
}

.petContainer {
  margin-left: -4px;
  margin-bottom: 20px;
  margin-right: -4px;
  margin-top: 2px;
  /* margin: 0 10px 10px 0px; */
}
.petTile {
  display: block;
  background-repeat: no-repeat;
  background-position: center 90%;
  float: left;
  margin: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  padding: 4%;
  padding-bottom: 8%;
  padding-top: 4%;
  outline: #28610e double thick;
  transition: 0.75s;
  opacity: 1;
  border: none;
  overflow-wrap: break-word;
  padding-left: 4px;
}

.petTileh3 {
  font-family: 'Amatic SC', cursive;
  font-size: 55px;
  color: #FBB;
}

.minPetTile {
  width: 250px;
  height: 250px;
  background-size: cover;
}

.maxPetTile {
  background-size: cover;
  width: 500px;
  height: 500px;
}

.petTile:hover {
  /* transform: scale(1.05); */
  transform: skewX(4deg);
}

.myPetTile {
  display: block;
  background-repeat: no-repeat;
  background-position: center 90%;
  float: left;
  margin: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  padding: 4%;
  padding-bottom: 8%;
  padding-top: 4%;
  outline: #e3e971 ridge thick;
  transition: 0.75s;
  opacity: 1;
  overflow-wrap: break-word;
  padding-left: 4px;
}

.myPetTileh3 {
  font-family: 'Amatic SC', cursive;
  font-size: 55px;
  color: #00e8b0;
}

.minMyPetTile {
  width: 250px;
  height: 250px;
  background-size: cover;
}

.maxMyPetTile {
  background-size: cover;
  width: 500px;
  height: 500px;
}

.myPetTile:hover {
  /* transform: scale(1.05); */
  transform: skewX(-4deg);
}

.loginDiv {
  margin-top: 105px;
  padding: 12px 13px;
    box-shadow: 0 4px 6px 0px rgba(255, 142, 83, 0.72);
}

.login {
  margin-top: 25px;
  padding: 12px 13px;
  font-size: 25px;
  font-color: #1c3875
}

.signupHeader {
  background-color: #591b69;
  background: linear-gradient(45deg, #d5506d 30%, #662378 90%);
  color: #FF8E53;
  font-family: 'Gloria Hallelujah', cursive;
  padding: 12px 13px;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 45px;
  box-shadow: 0 6px 10px 6px rgba(255, 142, 83, 0.72);
}

.signupPlaceholders {
  font-size: 35px;
  font-family: 'Gloria Hallelujah', cursive;
  background: -webkit-linear-gradient(#fba2a2, #d15bc6, #663cbf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.signupButton {
  background-color: #591b69;
  background: linear-gradient(45deg, #d5506d 30%, #662378 90%);
  color: #FF8E53;
  font-family: 'Gloria Hallelujah', cursive;
  padding: 22px 13px;
  margin-top: 12px;
  margin-left: 12px;
  margin-bottom: 12px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 22px;
  box-shadow: 0 4px 6px 3px rgba(255, 142, 83, 0.72);
  border-radius: 20px;
  border: 26;
  height: 65px;
}

.signinDiv {
  margin-top: 105px;
  padding: 12px 13px;
  box-shadow: 0 4px 6px 0px rgba(112, 23, 173, 0.72);
}

.signinHeader {
  background-color: #FF8E53;
  background: linear-gradient(45deg, #ff6253 30%, #b539b0 90%);
  color: #591b69;
  font-family: 'Gloria Hallelujah', cursive;
  padding: 12px 13px;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 45px;
  box-shadow: 0 6px 10px 6px rgba(112, 23, 173, 0.72);
}

.signinPlaceholders {
  font-size: 35px;
  font-family: 'Gloria Hallelujah', cursive;
  background: -webkit-linear-gradient(#663cbf, #d15bc6, #fba2a2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.signinButton {
  background-color: #FF8E53;
  background: linear-gradient(45deg, #ff6253 30%, #b539b0 90%);
  color: #591b69;
  font-family: 'Gloria Hallelujah', cursive;
  padding: 22px 13px;
  margin-top: 12px;
  margin-left: 12px;
  margin-bottom: 12px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 22px;
  box-shadow: 0 6px 10px 6px rgba(112, 23, 173, 0.72);
  border-radius: 20px;
  border: 26;
  height: 65px;
}

#adoptedPets {
  /* vertical-align: right; */
  text-align: left;
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;
  color: #ff6b00;
  text-shadow: 1.5px 1.5px #0d8568; ;
  padding-top: 1px;
}

.adoptedPetsButton {
  /* font-family: 'Gloria Hallelujah', cursive; */
  color: #c98de6;
  font-family: 'Miniver', cursive;
  font-size: 25px;
}

.adoptedPetsButton:hover {
  color: #72f6a3;
}

.adopted {
  font-family: 'Knewave', cursive;
}
