html, body {
  background-color: #5f6d87;
  text-align: center;
  overflow: scroll;
  padding: 10px;
}

@font-face {
  font-family: 'AmaticSC';
  src: local('AmaticSC'), url(./fonts/AmaticSC.ttf) format('woff')
}
@font-face {
  font-family: 'Bondoluo Peek Thin';
  src: local('Bondoluo Peek Thin'), url(./fonts/BondoluoPeek.ttf) format('woff')
}
@font-face {
  font-family: 'Code Bold';
  src: local('Code Bold'), url(./fonts/CODEBold.otf) format('woff');
}
@font-face {
  font-family: 'Code Light';
  src: local('Code Light'), url(./fonts/CODELight.otf) format('woff')
}
@font-face {
  font-family: 'Gravity Book';
  src: local('Gravity Book'), url(./fonts/Gravity-Book.otf) format('woff');
}
@font-face {
  font-family: 'Gravity Light';
  src: local('Gravity Light'), url(./fonts/Gravity-Light.otf) format('woff');
}
@font-face {
  font-family: 'Knewave';
  src: local('Knewave'), url(./fonts/Knewave.ttf) format('woff')
}
@font-face {
  font-family: 'Miniver';
  src: local('Miniver'), url(./fonts/Miniver.ttf) format('woff')
}

.App {
  margin: 0 auto;
  margin-bottom: 1vh;
}

.carousel {
  max-height: 40vh;
  max-width: 80vw;
  min-width: 20vw;
  margin: auto;
  margin-top: 2vh;
  padding-top: 1vh;
  /* padding-bottom: 1vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .slide{
  background: transparent;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  max-width: 25vw;
  max-height: 50vh;
  object-fit: scale-down;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  animation: rollOut;
  animation-delay: 6s;
  animation-duration: 4s;
}

#first {
  animation: fadeOut;
  animation-delay: 6s;
}

.App-header {
  background-color: transparent;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  animation: rollIn;
  animation-duration: 2s;
  object-fit: scale-down;
  padding-bottom: 5vh;
  /* font-size: calc(10px + 2vmin); */
}

.App-title {
  font-family: 'Knewave', cursive;
  font-size: 7vw;
  color: white;
  text-shadow: 2px 2px #000000;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.App-title:pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}


.App-link {
  font-size: 2vw;
  font-family: 'Bondoluo Peek Thin';
  color: #000000;
  text-shadow: .15px .05px #7b8aa6;
}

.App-link:hover {
  color: #fff;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}


.login {
  margin-top: 25px;
  padding: 12px 13px;
  font-size: 25px;
  font-color: #1c3875;
}

.signinDiv {
  margin-top: 105px;
  padding: 12px 13px;
}

.signinHeader {
  /* background-color: #475d6e; */
  background: linear-gradient(45deg, #475d6e 30%, #343555 90%);
  color: #fff;
  font-family: 'Bondoluo Peek Thin';
  font-size: 35px;
  letter-spacing: 2.5px;
  padding: 18px;
  margin: auto;
  text-align: center;
  display: inline-block;
  border-radius: 12px;
  box-shadow: 0 6px 10px 0px rgba(143, 158, 195, 0.72);
}

.signinForm input[type=text]:enabled,
.signinForm input[type=password]:enabled,
.signinForm input[type=text]::first-line,
.signinForm input[type=password]::first-line {
  text-align: center;
  display: inline;
  margin: 30px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-family: 'Knewave', cursive;
  font-size: 30px;
  font-weight: 100;
  border-width: 10px;
  border: none;
  border-bottom: 1.5px inset rgba(143, 158, 195, 0.72);
  background: -webkit-linear-gradient(#475d6e, #343555, #56587e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.signinButton {
  background: linear-gradient(45deg, #475d6e 30%, #343555 90%);
  color: #fff;
  font-family: 'Bondoluo Peek Thin';
  font-size: 15px;
  margin: auto;
  padding: 8px 16px;
  box-shadow: 0 6px 10px 0px rgba(143, 158, 195, 0.72);
  border-radius: 14px;
  border-color: transparent;
  display: inline-flex;
}


.signupDiv {
  margin-top: 105px;
  padding: 12px 13px;
}

.signupHeader {
  /* background-color: #343555; */
  background: linear-gradient(45deg, #343555 30%, #475d6e 90%);
  color: #fff;
  font-family: 'Bondoluo Peek Thin';
  font-size: 35px;
  letter-spacing: 2.5px;
  padding: 18px;
  margin: auto;
  text-align: center;
  display: inline-block;
  border-radius: 12px;
  box-shadow: 0 6px 10px 0px rgba(143, 158, 195, 0.72);
}

.signupForm input[type=text]:enabled,
.signupForm input[type=password]:enabled,
.signupForm input[type=text]::first-line,
.signupForm input[type=password]::first-line {
  text-align: center;
  display: inline;
  margin: 30px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-family: 'Knewave', cursive;
  font-size: 30px;
  font-weight: 100;
  border-width: 10px;
  border: none;
  border-bottom: 1.5px inset rgba(37, 49, 79, 0.75);
  border-bottom-style: solid;
  background: -webkit-linear-gradient(#475d6e, #56587e, #343555);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.signupButton {
  background: linear-gradient(45deg, #343555 30%, #475d6e 90%);
  color: #fff;
  font-family: 'Bondoluo Peek Thin';
  font-size: 15px;
  margin: auto;
  padding: 8px 16px;
  box-shadow: 0 6px 10px 0px rgba(143, 158, 195, 0.72);
  border-radius: 14px;
  border-color: transparent;
  display: inline-flex;
}

.welcomeHeader {
  font-family: 'Code Light';
  letter-spacing: 3px;
  font-weight: bolder;
  font-size: 50px;
  color: #7b8aa6;
  background: linear-gradient(45deg, #475d6e 30%, #343555 90%);
  padding: 12px;
  margin-bottom: 1em;
}

.petsHeader {
  font-family: 'Bondoluo Peek Thin';
  font-size: 45px;
  border-top: .5px outset rgba(143, 158, 195, 0.72);
  border-bottom: 2px outset rgba(143, 158, 195, 0.72);
  display: inline;
  background: -webkit-linear-gradient(#475d6e, #343555, #56587e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.myPetsLink {
  font-family: 'Miniver';
  font-size: 25px;
  font-weight: bold;
  color: #343555;
  text-shadow: 2px 2px #56587e;
  padding: 15px;
  text-decoration: underline;
}

.myPetsLink:hover{
  color: #56587e;
  text-shadow: 2px 2px #343555;
}

.profileHeader {
  font-family: 'Code Light';
  letter-spacing: 3px;
  font-weight: bolder;
  font-size: 50px;
  color: #7b8aa6;
  background: linear-gradient(45deg, #343555 30%, #475d6e 90%);
  padding: 12px;
  padding-bottom: 12px;
  margin-bottom: 1px;
}

.allPetsLogoutLink {
  font-family: 'Miniver';
  font-size: 25px;
  font-weight: bold;
  color: #4d5b75;
  text-shadow: 2px 2px #343555;
  padding: 15px;
  text-decoration: underline;
}

.allPetsLogoutLink:hover {
  color: #343555;
  text-shadow: 2px 2px #475d6e;
}

.ui.dropdown {
  font-family: 'Bondoluo Peek Thin';
  font-size: 16px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  margin-top: 18px;
  color: #000;
  text-shadow: .5px .5px #000000;
}

.toggle {
  font-family: 'Bondoluo Peek Thin';
  padding: .3%;
  font-size: 12px;
  letter-spacing: 1.5px;
  margin: auto .3%;
  padding: .3%;
  text-shadow: .5px .5px #000000;
}

.petContainer {
  display: inline-flex;
  margin: 2%;
  padding-top: 8%;
}

.profilePetsWrapper {
  display: flex;
  justify-content: space-between;
}

.savedPets {
  min-width: 90%;
  max-width: 150%;
  height: 150vh;
  margin: auto;
  display: flex;
  justify-content: space-around;
  overflow: auto;
}


.ui.page.grid {
  display: flex;
  /* justify-content: center; */
}

.ui.card,
.ui.cards>.card {
  background-color: #5f6d87;
  box-shadow: none;
  display: inline-block;
}

.ui.inline.image {
  height: 260px;
  background-size: contain;
  margin-bottom: 10px;
}

.petTile {
  display: block;
  background-repeat: no-repeat;
  background-position: center 90%;
  margin: auto;
  margin-bottom: 5%;
  padding: 5%;
  outline: #343555 double thick;
  transition: 0.75s;
  opacity: 1;
  border: none;
}


.minPetTile {
  background-color: transparent;
  background-size: cover;
  width: 250px;
  height: 250px;
}

.maxPetTile {
  background-color: transparent;
  background-size: cover;
  width: 500px;
  height: 500px;
}

.front:hover {
  transform: scaleY(1.05);
}

.back:hover{
  transform: scale(.95);
}

.desc {
  font-family: 'Gravity Book';
  color: #191c24;
  font-size: 18px;
  line-height: 20px;
  text-shadow: .35px .35px #000000;
  align-items: stretch;
  max-height: 300px;
  overflow: scroll;
}

#details {
  font-family: 'Gravity Light';
  letter-spacing: .5px;
  font-size: 16px;
  color: white;
  text-shadow: 1.75px 1px #000000;
  margin: 7%;
}

.petTileh3 {
  vertical-align: center;
  height: 35px;
  font-family: 'Code Bold';
  font-size: 22px;
  color: rgba(143, 158, 195, 0.72);
  text-shadow: 1px 1.75px #23233e;
}

.ui.button {
  font-family: 'Bondoluo Peek Thin';
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 1.5px;
  margin: 1.5%;
  padding: 8px;
  background-color: #4c5669;
  color: white;
  text-shadow: 1px 1px #394150;
}

.ui.button:hover {
  text-shadow: none;
}

.myPetTile {
  display: block;
  background-repeat: no-repeat;
  background-position: center 90%;
  margin: auto;
  margin-bottom: 5%;
  padding: 5%;
  outline: #56587e ;
  outline-style: ridge;
  transition: 0.75s;
  opacity: 1;
}

.myPetTileh3 {
  vertical-align: center;
  height: 35px;
  font-family: 'Code Bold';
  font-size: 22px;
  color: #343555;
  text-shadow: 1px 1.75px rgba(143, 158, 195, 0.72);
}

.minMyPetTile {
  background-color: transparent;
  background-size: cover;
  width: 250px;
  height: 250px;
}

.maxMyPetTile {
  background-color: transparent;
  background-size: cover;
  width: 500px;
  height: 500px;
}

.adopted {
  font-family: 'Knewave', cursive;
  font-weight: bold;
  color: black;
  text-shadow: 1.1px .55px #ffffff;
}

.adoptedPetsButton {
  font-family: 'AmaticSC';
  font-size: 32px;
  font-weight: bolder;
  color: white;
  text-shadow: 2.25px 2.25px #000000;
  background-color: #5f6d87;
  border: none;
  box-shadow: 0 3px 5px 3px #7b8aa6;
  overflow-wrap: break-word;
  margin-bottom: 15px;
}

.adoptedPetsButton:hover {
  color: #7b8aa6;
  background-color: #5f6d87;
  border: none;
  box-shadow: 0 3px 5px 3px #7b8aa6;
}

.adoptedPets {
  width: 15%;
  height: 100%;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  margin-right: 23px;
  margin-left: 5px;
}

#ulPets {
  font-family: 'Bondoluo Peek Thin';
  letter-spacing: 1px;
  font-size: 14px;
  color: #000000;
  font-weight: bolder;
  text-shadow: 2px 1.5px #7b8aa6;
  margin-left: -30px;
}
